h1 Simple Redir

p
 Simple Redir lets you create redirects (e.g. yourdomain.com/youtube ) which redirect to a particular site

p
 You can also create pivots for redirects (e.g. yourdomain.com/youtube/10 ) which will take you to a specific page, and 

p
 You can track the number of visitors each redirect and pivot gets 

form(action'/login', method='POST')

    input(type='text', name='user[email]', value='Email')
    p
    input(type='text', name='user[password]', value='Password', id='Password')
    p

    input(type="submit", value="Create Account", name ="submit")




