h1 Edit #{pivot.value}
form(action='/params/' + record.title + '/' + pivot.value, method='POST')
    label Value:
    input(type='text', name='pivot[value]', value=pivot.value)
    p
    label Destination:
    input(type='text', name='pivot[destination]', value=pivot.destination)
    p
    input(type='hidden', name='_method', value='put')
    p
    input(type="submit", value="submit")
